In [2]:
import pandas as pd
import numpy as np

file1 = "ACS_17_5YR_B23006_with_ann.csv"

In [5]:
ACS = pd.read_csv(file1, encoding="ISO-8859-1")
ACS.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD25,HD02_VD25,HD01_VD26,HD02_VD26,HD01_VD27,HD02_VD27,HD01_VD28,HD02_VD28,HD01_VD29,HD02_VD29
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Less than high school graduate:,Margin of Error; Less than high school graduate:,Estimate; Less than high school graduate: - In...,Margin of Error; Less than high school graduat...,Estimate; Less than high school graduate: - In...,...,Estimate; Bachelor's degree or higher: - In la...,Margin of Error; Bachelor's degree or higher: ...,Estimate; Bachelor's degree or higher: - In la...,Margin of Error; Bachelor's degree or higher: ...,Estimate; Bachelor's degree or higher: - In la...,Margin of Error; Bachelor's degree or higher: ...,Estimate; Bachelor's degree or higher: - In la...,Margin of Error; Bachelor's degree or higher: ...,Estimate; Bachelor's degree or higher: - Not i...,Margin of Error; Bachelor's degree or higher: ...
1,310M300US10180,10180,"Abilene, TX Metro Area",81933,211,10436,596,5466,460,0,...,579,156,13944,799,13684,773,260,102,2801,364
2,310M300US10420,10420,"Akron, OH Metro Area",366649,186,25835,1295,13610,890,0,...,25,24,103946,1800,101222,1805,2724,314,15829,778
3,310M300US10500,10500,"Albany, GA Metro Area",77662,258,11358,700,5720,556,1,...,35,35,13022,770,12571,760,451,131,2493,385
4,310M300US10540,10540,"Albany, OR Metro Area",62045,304,5567,591,3498,484,0,...,16,29,9551,723,9016,703,535,186,2351,320

In [9]:
ACS

TypeError: '(0, slice(None, None, None))' is an invalid key